section {
  padding: 12px;
  h3 {
    margin-bottom: 32px;
  }
  article {
    box-shadow: 2px 2px 7px #ccc;
    padding: 8px 12px;
    margin-bottom: 24px;
    border-radius: 8px;
    h2,
    p {
      margin: 0;
    }
  }
}
