<h1>FALA SERGIÃO</h1>
<H3>PARTIU FAZER UM BACKEND</H3>
<ul>
  <li>
    Na tela de personagens, estou chamando uma api pública que devolve para o
    front-end os personagens do Starwars (http://swapi.dev/api/people)... essa é
    só um exemplo pra vc ver como funciona uma chamada para uma api
  </li>
  <li>
    Na tela de clientes, é um CRUD completo, pode fazer a festa... cada cliente
    deve ter essas propriedades (com os seguintes tipos):
  </li>
</ul>
<p>
  String id<br />
  String nome<br />
  String tipo (pode ser PF ou PJ, legal tentar usar ENUM)<br />
  String genero (pode ser M ou F, legal tentar usar ENUM)<br />
  String dataNascimento (é uma data, nesse formato ano-mes-dia....
  2024-06-12)<br />
  String observacao<br />
  Boolean inativo<br />
</p>
<p>
  A chamada está sendo feita para essa url:
  http://localhost:8080/api/v1/cliente, quando vc estiver fazendo seu backend em
  Java, e for subir ele pra rodar na sua máquina, provavelmente ele vai estar
  nessa porta já... mas, se precisar editar, está no arquivo clientes.service.ts
  deste projeto
</p>
